stages:
  - build
  - deploy-staging

variables:
  MANAGER_IMAGE_TAG: $CI_REGISTRY_IMAGE:manager
  ADMIN_IMAGE_TAG: $CI_REGISTRY_IMAGE:admin

build-admin:
  stage: build
  image: node:10.16.2
  script:
    - cd ./react/admin
    - yarn
    - yarn run build
  cache:
    paths:
      - node_modules
  only:
    changes:
      - react/admin/**/*
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/admin/build/

build-manager-storybook:
  stage: build
  image: node:10.16.2
  script:
    - cd react/manager
    - yarn
    - yarn run storybook-build
  cache:
    paths:
      - node_modules
  only:
    changes:
      - react/manager/**/*
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/manager/storybook_build

build-manager-webpack:
  stage: build
  image: node:10.16.2
  script:
    - cd react/manager
    - yarn
    - yarn run build
  only:
    changes:
      - react/manager/**/*
  cache:
    paths:
      - node_modules
  tags:
    - big
  artifacts:
    expire_in: 3d
    paths:
      - react/manager/build

deploy-manager-storybook:
  stage: deploy-staging
  image: python3.8-slim-buster
  only:
    refs:
      - dev
    changes:
      - react/manager/**/*
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/manager
    - aws s3 sync ./storybook_build s3://ttc-manager-storybook/ --acl=public-read

deploy-manager-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: manager-staging
    url: http://ttc-manager.devserver.london
  only:
    refs:
      - dev
    changes:
      - react/manager/**/*
  variables:
    EB_ENV: 'react-manager'
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/manager
    - chmod +x ./bin/deploy.sh
    - ./bin/deploy.sh

deploy-admin-staging:
  stage: deploy-staging
  image: python:3.8-slim-buster
  environment:
    name: admin-staging
    url: http://ttc-admin.devserver.london
  only:
    refs:
      - dev
    changes:
      - react/admin/**/*
  variables:
    EB_ENV: 'react-admin'
  script:
    - pip install awscli
    - apt-get update
    - apt-get install -y zip
    - cd ./react/admin
    - chmod +x ./bin/deploy.sh
    - ./bin/deploy.sh
